@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Roboto|Rokkitt|Alpha+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
/*
    font-family: 'Abril Fatface', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Rokkitt', serif;
*/
/**{
    outline: 2px solid lime;
}*/
#container{
    background-color: rgb(102, 45, 52);
    max-width: 1800px;
    padding: 0px;
    margin: auto;
    padding-bottom: 3px;
    }
#header{
    height: 250px;
    display: grid;
    grid-template-columns: 33% 67%;
}
#logocont{
    padding: 15px;
    
}
#logocontgrid{
    display: grid;
    grid-template-rows: 50% 50%; 
    height: 100%;
}
#logo{
    background-color: rgb(162,120,113);
    }
img{
    height: 12rem;
    margin-left: 12%;
    object-fit: cover;
}
.logosmall{
    background-color: rgb(162,120,113);
    height: 70%;
    margin-top: 15px;
    margin-left: 15px;
}
#namecont{
    display: grid;
    grid-template-rows: 50%;
    padding: 15px;
}
.name{ 
    height: 100%;
    width: 100%;
    padding: 1px;
}
.banner{
   background-color: rgb(193,171,148);
   text-align: right;
   font-size: 1.75rem;
    color: rgb(102,45,52);
}
#body{
    background-color:blueviolet;
    height: 100%;
    display: grid;
    grid-template-columns: 66% 34%;
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    margin: 15px;
    background-color: rgb(146,111,98);
    }
#maintext{   
    height: auto;
    padding: 25px 5% 5% 5%; 
}
#maintext2{   
    padding: 25px;
    display: grid;
    grid-template-rows: auto auto;
}
#maintext div{
    background-color: rgb(162,120,113);
    height: 100%;
    width: 100%;
    padding: 2%;
    text-align: center;
    color: rgb(213,199,177);
}
#maintext2 div{
    background-color: darkorchid;
    height: 100%
    width: 100%; 
    padding: 2%;
    text-align: left; 
    background-color: rgb(162,120,113);
    color:  rgb(213,199,177);
}
#center{
    text-align: center;
}
li{
    font-size: 3rem;
}
#nav{
    height: 700px;
    padding: 25px 5% 5% 5%;   
    text-align: right;
}
#nav > div{
    background-color: darkorchid;
    height: 100%;
    width: 100%;
    padding: 2%;
    bottom: 0;
    left: 0;
    background-color: rgb(162,120,113);
}
.nolink{
    background-color: rgb(146,111,98);
    height: 2%;
}
.link{
    background-color: rgb(146,111,98);
    font-size: 3rem;;
    margin: 5px;
    margin-top: 5%;
    height: 10%;
}


a:link, a:visited{
    text-decoration: none;
    color: rgb(193,171,148);
}
a:hover, a:active {
  text-decoration: none;
    color: black;
}

/*
.link a{
    text-decoration: none;
}
a:active{
    text-decoration: underline;
}

    font-family: 'Abril Fatface', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Rokkitt', serif;
*/